<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FocusMap WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FocusMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FocusMapKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Glance - FocusMap WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Notification - FocusMap WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B2F25E81AD3205300187FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B2F25F21AD3205300187FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B7A73811ACB58EF002523C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC7B9FA1AC938AC000EC1C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC7BA131AC938AC000EC1C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC7BA391AC93901000EC1C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
